.console__header {
    height: auto;
    min-height: 40px;
    width: 100%;
    background: var(--dark4);
    display: inherit;
    align-items: center;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
}
.console-scroller {
    width: calc(100% - 40px);
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
}
.console-scroller > button {
    height: 28px;
    width: 28px;
    margin-left: 8px;
    box-sizing: border-box;
    border: 1px solid var(--dark3);
    border-radius: 1px;
    flex-shrink: 0;
    color: var(--dark3);
}
.add-template {
    width: 40px;
    height: 100%;
    border-left: 1px solid var(--dark3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-template > button {
    border: 1px solid var(--dark3);
    height: 26px;
    width: 26px;
    color: var(--dark3);
}
.console__header .icon {
    width: 26px;
    height: 26px;
    color: inherit;
}
.console__header > div > button:hover {
    color: var(--aqua2);
    border-color: var(--aqua2);
    box-shadow: 0px 0px 3px 1px var(--aqua1), inset 0px 0px 3px 1px var(--aqua1);
}
.console__header > div > button:active {
    color: #fff;
    border-color: #fff;
    box-shadow: 0px 0px 3px 1px var(--aqua4), inset 0px 0px 3px 1px var(--aqua4);
}
#console__template-button--active {
    color: var(--aqua2);
    border-color: var(--aqua2);
    box-shadow: 0px 0px 3px 1px var(--aqua1), inset 0px 0px 3px 1px var(--aqua1);
}