:root {
    --scroll-control: 10px;
}
/*GENERAL STYLES*/
.console__header {
    height: auto;
    min-height: 40px;
    width: 100%;
    background: var(--dark4);
    display: inherit;
    align-items: center;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--dark3);
}
.console__header > div > button:hover {
    color: var(--white2);
}
.console__header > div > button:active {
    color: #fff;
}
/* SCROLL-BUTTONS (Help for naveging without mousepad in the console-scroller)*/
.console__header > #before, .console__header > #after {
    position: absolute;
    margin: 0;
    height: 100%;
    width: var(--scroll-control);
    background: var(--dark4);
    cursor: pointer;
} 
.console__header > #before > div, .console__header > #after > div {
    height: 100%;
    width: 100%;
    background: var(--dark5);
}
.console__header > #before:active div, .console__header > #after:active div {
    background: var(--dark3);
}
.console__header > #before {
    left: 0;
    box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.35);
}
.console__header > #after {
    right: 40.88px;
    box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.35);
}
.console__header > #after > div {
    clip-path: polygon(0 0, 100% 50%, 0 100%, 80% 50%);
}
.console__header > #before > div {
    clip-path: polygon(100% 0, 20% 50%, 100% 100%, 0 50%);
}
/*CONSOLE SCROLLER (where all the buttons are displayed for naveging)*/
.console-scroller {
    width: calc(100% - 40px);
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
}
.console-scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.console-scroller > button {
    height: 28px;
    width: 28px;
    margin-left: 8px;
    box-sizing: border-box;
    border-right: 1px solid var(--dark3);
    border-radius: 1px;
    flex-shrink: 0;
    color: var(--dark3);
    font-size: 20px;
    font-family: monospace;
}
.console-scroller > button:first-child {
    margin-left: var(--scroll-control);
}
.console-scroller > button:last-child {
    margin-right: var(--scroll-control);
    border: none;
}
/*ADD TEMPLATE BUTTON (for adding new sections)*/
.add-template {
    width: 40px;
    height: 100%;
    border-left: 1px solid var(--dark3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-template > button {
    height: 26px;
    width: 26px;
    color: var(--dark5);
    cursor: pointer;
}
.console__header .icon {
    width: 26px;
    height: 26px;
    color: inherit;
}
.console__header > .add-template > button:active {
    color: var(--dark3);
}
/*ACTIVE-STYLES (active section indication)*/
#console__template-button--active {
    color: var(--aqua4);
}