.l-aside {
    display: flex;
    position: absolute;
    width: 0;
    height: 100vh;
    background: var(--dark3);
    transition: width .3s ease;
    max-width: calc(100vw - 50px);
    flex-wrap: nowrap;
    z-index: 2;
}
.l-aside__button {
    right: 0;
    transform: translateX(20px);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    background-image: url("../../assets/img/arrow-gray.png")
}
.l-aside__button-inverted {
    background-image: url("../../assets/img/arrow-gray-inverted.png")   
}
.l-aside__button:hover {
    background-image: url("../../assets/img/arrow-aqua.png");
}
.l-aside__button-inverted:hover {
    background-image: url("../../assets/img/arrow-aqua-inverted.png");
}
.l-aside__button-tooltip {
    top: 28px;
    left: 4px;
}
.l-aside__button-tooltip::before {
    top: -5px;
    left: 5px;
}
.l-aside__resize-bar {
    background: var(--dark2);
    flex-basis: 7px;
    cursor: col-resize;
    height: 100%;
}
.l-aside__body {
    display: flex;
    position: relative;
    height: 100%;
    width: calc(100% - 7px);
    background: var(--dark3);
    transition: width .3s ease;
    flex-wrap: wrap;
}