.l-aside__body > .console {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 42px;
    max-height: calc(100% - 23px);
    box-sizing: content-box;
}
.console__body {
    height: calc(100% - 3px - 40px);
    width: 100%;
    background: var(--dark4);
}
.console__resize-bar {
    height: 3px;
    width: 100%;
    background: var(--dark2);
    cursor: s-resize;
}
.console__header {
    height: 40px;
    width: 100%;
    background: var(--dark4);
    display: inherit;
    align-items: center;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}
.console__header > div {
    height: 40px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
.console__header > div > button {
    height: 33px;
    width: 40px;
}
.console__header .icon {
    color: var(--dark5);
    width: 100%;
    height: 100%;
}
.console__header .icon:hover {
    color: var(--aqua4);
    width: 100%;
    height: 100%;   
}