<article class="default__reminder-container default-containers">
	<header class="default__reminder-header">
		<span> LOREM IPSUM </span>
	</header>
	<div class="default__reminder-body">
		<div>
			<span id="quote-1">
			</span>
		</div>
		<div>
			<span id="quote-2">
			</span>
		</div>
		<div>
			<span id="quote-3">
			</span>
		</div>
	</div>
</article>
<article class="default__tasking-container default-containers">
	<header class="default__tasking-header">
		<span>LOREM IPSUM</span>
	</header>
	<div class="default__tasking-body">
	</div>
</article>
<article class="default__status-container default-containers">
	<header class="default__status-header">
		<span>LOREM IPSUM</span>
	</header>
	<div class="default__status-body">
		<span>In development</span>
	</div>
</article>