.l-aside {
    display: flex;
    position: absolute;
    width: 0;
    height: calc(100vh - 40px);
    background: var(--dark3);
    transition: width .3s ease;
    max-width: calc(100vw - 50px);
    flex-wrap: nowrap;
    z-index: 2;
}
.l-aside__button, .r-aside__button {
    background: var(--dark4);
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 2;
    margin: 0;
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}
.l-aside__button img, .r-aside__button img {
    width: 100%;
    height: 100%;
    filter: invert(45%);
    transition: transform .5s ease;
}
.l-aside__button {
    right: 0;
    transform: translateX(20px);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.l-aside__button:hover img, .r-aside__button:hover img {
    filter: invert(70%);
}
.l-aside__resize-bar {
    background: var(--dark2);
    flex-basis: 7px;
    cursor: col-resize;
    height: 100%;
}
.l-aside__body {
    display: flex;
    position: relative;
    height: 100%;
    width: calc(100% - 7px);
    background: var(--dark3);
    transition: width .3s ease;
    flex-wrap: wrap;
}
/*=====================================================================*/
.l-aside__body > .content {
    height: 65%;
    width: 100%;
    min-height: 37.16px;
}
.l-aside__body > .content > .resize-bar {
    height: 4px;
    background-color: var(--dark2);
    width: 100%;
    cursor: n-resize;
}
.l-aside__body > .content > .body {
    height: calc(100% - 4px);
    width: 100%;
}
/*==================================================================*/
.l-aside__button-tooltip {
    top: 28px;
    left: 4px;
}
.r-aside__button-tooltip {
    top: 28px;
    right: 4px;
}
.tooltip::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    z-index: 300;
    background: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.l-aside__button-tooltip::before {
    top: -5px;
    left: 5px;
}
.r-aside__button-tooltip::before {
    top: -5px;
    right: 5px;
}
.l-aside__button:hover > .l-aside__button-tooltip, .r-aside__button:hover > .r-aside__button-tooltip {
        opacity: 1;
}
.tooltip {
    width: 200%;
    position: absolute;
    background: #000;
    height: 20px;
    z-index: 200;
    opacity: 0;
    transition: opacity .3s ease;
    pointer-events: none;
    color: #fff;
    font-size: 9px;
    padding-top: 4px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
}