@font-face {
    font-family: 'Noto Sans Mono';
    src: url('../prototipos/notosansmono/NotoSansMono-VariableFont_wdth,wght.ttf');
}
:root {
    --dark1: #131213;
    --dark2: #201F20;
    --dark3: #292829;
    --dark4: #363537;
    --white: #F2F1F2;
    --aqua1: #018473;
    --aqua2: #41D5C4;
    --aqua2-5: #5AE9E6;
    --aqua3: #6FECDA;
}
button {
    all: unset;
}
.container {
    display: grid;
    grid-template-columns: 1fr; /* Define dos columnas: una para la barra lateral y una para el contenido principal */
    grid-template-rows: 40px 1fr; /* Define tres filas: encabezado, contenido principal y pie de página */
    grid-template-areas:
        "header"
        "section";
    height: 100vh; /* Ajusta la altura del contenedor al 100% del viewport height */
}
.header {
    grid-area: header;
    background: var(--dark4);
    color: #fff;
    box-shadow: 0px 1px 12px -1px rgba(0,0,0,.3);
    z-index: 1;
    display: flex;
    align-items: center;
}
#section {
    grid-area: section;
    background-color: #555;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.l-aside {
    display: flex;
    position: relative;
    flex: 0;
    height: 100%;
    background: var(--dark3);
    transition: flex .3s ease;
}
.main {
    display: flex;
    position: relative;
    flex: 1;
    height: calc(100vh - 40px);
    background: var(--dark1);
    transition: flex .3s ease;
    flex-wrap: wrap;
}
.nav-bar-info-cont {
    width: 100%;
    height: 20px;
    background: var(--dark4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.l-aside__button, .r-aside__button {
    background: var(--dark4);
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 2;
    margin: 0;
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}
.l-aside__button img, .r-aside__button img {
    width: 100%;
    height: 100%;
    filter: invert(45%);
    transition: transform .5s ease;
}
.l-aside__button {
    right: 0;
    transform: translateX(20px);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.r-aside__button {
    left: 0;
    transform: translateX(-20px);
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}
.l-aside__button:hover img, .r-aside__button:hover img {
    filter: invert(70%);
}
.r-aside {
    display: flex;
    position: relative;
    flex: 0;
    height: 100%;
    background: var(--dark3);
    transition: flex .3s ease;
}
.r-aside__body {
    height: 100%;
    width: 100%;
    display: inherit;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;

}
.r-aside__section {
    flex-basis: 100%;
    height: 6%;
    margin-top: 4px;
    border-radius: 2px;
    font-size: 12px;
    padding-left: 4px;
    display: inherit;
    align-items: center;
    font-family: 'Noto Sans Mono';
    cursor: pointer;
    background: transparent;
    color: var(--white);
    border: none;
    transition: opacity .2s ease;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.r-aside__section:first-child {
    margin-top: 0;
}
.r-aside__section span {
    display: inline;
    position: absolute;
}
.r-aside__section--active {
    background: var(--dark2);
    color: var(--aqua3);
    border-left: 2px solid var(--aqua3);
    padding-left: 2px;
}
.r-aside__section:hover {
    color: #aaa;
}
.r-aside__section--active:hover {
    color: var(--aqua3);
}