.l-aside__body > .console {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 37px;
    max-height: calc(100% - 23px);
    box-sizing: content-box;
}
.console__body {
    height: calc(100% - 40px - 3px);
    width: 100%;
    background: var(--dark4);
}
.console__resize-bar {
    height: 3px;
    min-height: 3px;
    z-index: 10;
    width: 100%;
    background: var(--dark2);
    cursor: s-resize;
}
