.console__body  > #default {
    width: 100%;
    height: 100%;
    color: var(--white);
    overflow: hidden;
    font-family: monospace;
}
#default > .message {
    border-top: 1px solid var(--dark3);
    position: relative;
    display: flex;
    align-items: center;
    height: 22px;
}
#default > .message:nth-of-type(1) {
    border-top: none;
}
/*#default > .message-system {
    background: linear-gradient(to right, var(--dark1) 0%, transparent 100%) !important;
}
#default > .message-error {
    background: linear-gradient(to right, #3d0b07 0%, transparent 100%) !important;
}
#default > .message-warning {
    background: linear-gradient(to right, #3d3d07 0%, transparent 100%) !important;
}
#default > .message-check {
    background: linear-gradient(to right, #073d0a 0%, transparent 100%) !important;
}
#default > .message::first-letter {
    color: #fff;
}*/


#default > .message:last-child {
    border-bottom: 1px solid var(--dark3);
}
.message__text {
    padding: 5px 0 5px 5px;
    line-height: 0.85;
    border-left: 1px solid var(--dark3);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;  
}
.message__symbol {
    width: 13px;
    height: 13px;
    margin-left: 5px;
    margin-right: 5px;
    flex-shrink: 0;
    box-shadow: 0px 0px 2px 1px var(--dark3), inset 0px 0px 8px .5px var(--dark4);
    display: flex;
    background: var(--dark3);
    justify-content: center;
    position: relative;
    border-radius: 2px;
}
/*.message:nth-of-type(1) > .message__symbol {
    box-shadow: 0px 0px 2px .5px yellow, inset 0px 0px 8px 1px yellow;

}
.message:nth-of-type(2) > .message__symbol {
    box-shadow: 0px 0px 2px .5px #fc2d2d, inset 0px 0px 8px 1px #fc2d2d !important;

}*/
.message__symbol > .icon-warning {
    color: #ffe347;
}
.message__symbol > .icon-error {
    color: #fc2d2d;
    width: 80%;
    position: absolute;
    left: 0;
    top: 1px;
    right: 0;
    bottom: 0;
    margin: auto;
    color: indianred;
    color: #ff4747;
}
.message__symbol > .icon-check {
    color: #63ff47;
    color: var(--aqua4);
    width: 95%;
}
.message__symbol > .icon-system {
    color: var(--aqua4);
}
/*#default > .message::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 9px;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background: var(--aqua3);
    box-shadow: 0px 0px 4px 2px var(--aqua1)
}*/


/*For the "textarea"*/
/*.console__body  > #default > div {
    width: 100%;
    height: calc(100vh - 40px);
    border-top: 1px solid var(--dark3);
    margin-top: 5px;
    font-family: monospace;
    color: var(--dark1);
}*/