.l-aside__body > .content {
    height: 100%;
    width: 100%;
    min-height: 37.16px;
}
.l-aside__body > .content > .resize-bar {
    height: 4px;
    background-color: var(--dark2);
    width: 100%;
    cursor: n-resize;
}
.l-aside__body > .content > .body {
    height: calc(100% - 4px);
    width: 100%;
}